body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
    background-color: #fdfdfc;
    color: #222;
}

p {
    margin-bottom: 1.25rem;
}

.content {
    /* 
        ch is a relative unit based on the width
        of the "0" glyph.
        other relative units:
        - em (based on the width of the "m" glyph of the parent container)
        - rem (based on the width of the "m" glyph of the root element (<html>)
    */
    max-width: 65ch;
    margin: 4rem auto;
    padding: 0 1.5rem;
}

.title {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.quote {
    margin: 2rem 0;
    padding-left: 1.5rem;
    border-left: 3px solid #ccc;
    font-style: italic;
}
